/* styles.css */
    html, body {
        height: 100%;
        background-color: #777;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100%;
        color: #abbaba;
        font-weight: 100;
        font-family: 'Lato';
    }

    #container {
        display: table;
        height: 100%;
        width: 100%;
    }
    #p5canvas {   
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
